<!-- <app-albums *ngFor="let photo of PhotosList" [albums]="photo" (click)="clicked(photo)" ></app-albums> -->
<div class="card">
  <div class="card-1">
    <!-- <ul style="list-style-type:none">
<li>AlbumId:{{photo.albumId}}</li>
<li>Id:{{photo.id}}</li>
<li>Title:{{photo.title}}</li>
<li>Image:<img src="{{photo.url}}" width="10px" height="10px"></li>
<! <li>Image:<a href="{{photo.url}}">photo</a></li> -->
<!-- <li>{{photo.thumbnailUrl}}</li>
</ul>  -->
<img src="{{photo.url}}" width="100px" height="100px">
</div>
</div>